{% extends 'clients/layout.html' %}

{% block body %}

{% for object in object_list %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ object.owner }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{object.message_title}}</h6>
        <br>
        <p class="card-text">{{object.status}}</p>

        <a href="{% url 'mailings:mailing_update' pk=object.pk %}" class="card-link">Изменить</a>

        <a href="{% url 'mailings:mailing_delete' pk=object.pk %}" class="card-link">Удалить</a>
        <br>
        <a href="#" class="card-link">ЛОГИ</a>
    </div>
</div>

{% endfor %}

{% endblock %}